<div class="sidenav-container">
    <div class="sidenav-header">
        <div class="sidenav-section">
            @for (item of menuItems; track $index) {
                <div class="sidenav-item" [class.active]="item.active">
                    <div class="sidenav-icon" *ngIf="item.icon">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="{{item.icon}}"></mat-icon>
                    </div>
                    <div class="sidenav-label">
                        <a [routerLink]="item.link" routerLinkActive="router-link-active" >
                            {{ item.label }}
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>