<div class="sidenav-container">
    <div class="sidenav-header">
        <div class="sidenav-section">
            <div class="sidenav-item" *ngFor="let item of menuItems" [class.active]="item.active">
                <div class="sidenav-icon" *ngIf="item.icon">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="{{item.icon}}"></mat-icon>
                </div>
                <div class="sidenav-label">{{ item.label }}</div>
            </div>
        </div>
    </div>
</div>